{% extends "base.html" %}

{% block content %}
<div class = "container">
{% for tweet in tweets %}
    <div class="card" style="padding:10px;">
        <div class= "cardbody">
            <div style="background-color: cornflowerblue; padding:10px">
            <h6 class="card-title"> {{tweet.username}} </h6>
            </div>
            <div>
            <p class="card-text"> {{tweet.massage}} </p>
            </div>
            {% if tweet.username == user %}
                <a href="{% url "tweetapp:deletetweet" id=tweet.id %}" class="btn btn-danger"> Delete </a>
            {% endif %}
        </div>

    </div>

{% endfor %}

</div>
   
{% endblock content %}